@model List<Foods>

<div class="row gy-40">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-lg-4 col-sm-6">
            <a asp-controller="Details" asp-action="Index" asp-route-id="@item.Id">


                <div class="th-menu">
                    <div class="th-menu_img">
                        <img class="spin"
                             src="~/img/@item.Image"
                             alt="menu Image" />

                        <div class="th-menu_discount">
                            <span class="sale">@item.Discount% OFF</span>
                        </div>
                    </div>
                    <div class="th-menu-content">
                        <h3 class="th-menu_title">
                            <a href="shop-details.html">@item.Name</a>
                        </h3>
                        <div class="content">
                            <h5 class="title">
                                <a asp-controller="RestaurantDetails" asp-action="Index" asp-route-id="@item.RestaurantsId">@item.Restaurants.Name</a>
                            </h5>
                        </div>
                        <p class="th-menu_desc">@item.Description</p>
                        <span class="th-menu_price">$19.85</span>
                    </div>
                    <div class="fire">
                        <img src="~/asset/img/update_2/shape/fire.png" alt="shape" />
                    </div>
                </div>
            </a>
       
                    
        </div>
    }

</div>