@model List<Restaurants>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center display-3 " style="color:#FF7636;">Restaurants</h1>
<p class="float-end">
    <a class="ui inverted violet  button btn-lg " asp-action="Create"><i class="hand point right icon pe-5 fs-4"></i>Create New</a>
</p>
<table class="table table-hover ms-5">
    <thead>
        <tr class="table-primary" style="color:#FF7636;">
            <th>Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>City</th>
            <th>Street</th>
            <th>Bina</th>
            <th>Email</th>
            <th>Number</th>
            <th>MenzilNo</th>
            <th>Citie</th>
            <th>Edit| Delete | Details</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="table-primary">
                <td class="img-fluid">
                    <img src="~/@item.Image" style="width:80px; height:50px; border-radius: 30%;">
                </td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
                <td>@item.City</td>
                <td>@item.Street</td>
                <td>@item.Bina</td>
                <td>@item.Email</td>
                <td>@item.Number</td>
                <td>@item.MenzilNo</td>
                <td>@item.CitiesId</td>
                <td>
                    <a class="btn btn-info " asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-brush me-2"></i>Edit</a> |
                    <a class="btn btn-danger " asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3 me-2"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

